*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,body{
    background: rgba(224, 224, 224, 0.616);
}

.row{
    width: 90%;
    margin: 0 auto;
}

.links{
    color: #fff;
    text-decoration: none;
}

.navigation{
    background: #4C3F91;
}

.navigation_links{
    display: flex;
    margin-left: auto;
    justify-content: right;
}
.navigation li{
    list-style: none;
    margin: 20px;
    margin-right: 0;
    color: #fff;
    
}

.navigation a{
    cursor: pointer;
    transition: all 0.2s;
}

.navigation li a:hover{
    text-decoration: underline;
}

.header_div{
    height: 85vh;
    width: 100%;
    background: linear-gradient(90deg, rgba(76,63,145,0.4) 0%, rgba(0,0,0,0.41498597730107667) 100%),url("../img/assign_task.webp");
    background-position: center;
    background-size: cover;
    position: relative;
}

.header_text{
    position: absolute;
    top: 40%;
    background: #4d3f9194;
    padding: 15px;
    border-radius: 10px;
}

.header_text h1{
    font-size: 50px;
    font-weight: 300;
}



.header_text h1{
    text-transform: uppercase;
    color: #fff;
}

.section_heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
    margin-top: 20px;
}

.section_heading::after{
    display: block;
    content: "";
    width: 150px;
    height: 2px;
    background: #000;
    margin: 10px auto;
}

/*---------------------------------------CREATE YOUR OWN TEAM SECTION--------------------------------------------*/

.flex_box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5%;
}

.task_cards{
    width: 30%;
    padding: 10px;
    margin: 2% 0;
    transition: transform 0.5s;
}

.task_cards:hover{
    transform: scale(1.02);
}

.task_cards > h5{
    text-transform: uppercase;
    font-size: 22px;
    font: 500;
    margin-bottom: 10px;
}

.task_cards > p{
    line-height: 150%;
    letter-spacing: 1px;
}

.task_cards:nth-child(even){
    background: #4d3f9194;
    color: #fff;
}

.feature_btn_1{
    width: 100px;
    padding: 15px;
    border-radius: 100px;
    border: 1px solid #fff;
    background: #9145B6;
    color: #fff;
    font-size: 16px;
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.feature_btn_2{
    width: 100px;
    padding: 15px;
    border-radius: 100px;
    border: 1px solid #9145B6;
    background: #fff;
    color: #9145B6;
    font-size: 16px;
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.5s;
}


.feature_btn_1:hover{
    transform: scale(1.02);
    background: #fff;
    color: #9145B6;
    border: 1px solid #9145B6;
}

.feature_btn_2:hover{
    transform: scale(1.02);
    background: #9145B6;
    color: #fff;
    border: 1px solid #fff;
}